#osmCheckbox,#osmCheckboxLabel{bottom:10px;position:absolute}
#layerList,#osmCheckbox,#osmCheckboxLabel,#slider{position:absolute}
#layerList{top:30px;right:0;bottom:0;width:220px;overflow:auto}
#map,.ol-overlaycontainer-stopevent,body,html{overflow:hidden}
#layerList div{color:#000;cursor:pointer}
#layerList div.hidden{opacity:.3}
#layerList div div{width:15px;height:15px;display:inline-block}
#osmCheckbox{left:10px}
#osmCheckboxLabel{left:30px;text-shadow:#fff 0 0 8px}
#slider{width:200px;top:10px;right:10px;background:#fff;color:#fff}
#map,body,html{width:100%;height:100%;margin:0;padding:0;background:#fff,color:#333;font-family:Arial,sans-serif;font-size:14px;line-height:1}
#map{top:0;left:0;right:230px;bottom:0;width:auto}
#map,.ol-popup{position:absolute}
.map-controls a.primary,.map-controls a.primary:active,.map-controls a.primary:focus,.map-controls a.primary:hover,.ol-control button.primary,.ol-control button.primary:active,.ol-control button.primary:focus,.ol-control button.primary:hover{color:#fff;background:#6941aa;border:1px solid #6941aa}
.map-controls a:active,.map-controls a:focus,.map-controls a:hover,.ol-control button:active,.ol-control button:focus,.ol-control button:hover{color:#6941aa;background:#fff;border:1px solid #977dc7}
.map-controls a .disabled,.map-controls a.disabled,.ol-control button .disabled,.ol-control button.disabled{background-color:#e6e6e6}
.map-controls a span:first-child,.ol-control button span:first-child{display:none}
.map-controls a .enabled span:first-child,.map-controls a span:last-child,.map-controls a.enabled span:first-child,.ol-control button .enabled span:first-child,.ol-control button span:last-child,.ol-control button.enabled span:first-child{display:block}
.map-controls a .enabled,.map-controls a.enabled,.ol-control button .enabled,.ol-control button.enabled{color:#6941aa;background:#fff;border:1px solid #6941aa;z-index:12}
.map-controls a .enabled span:last-child,.map-controls a.enabled span:last-child,.ol-control button .enabled span:last-child,.ol-control button.enabled span:last-child{display:none}
.ol-control button{vertical-align:middle;font-family:icons;display:block;position:relative;color:#848788;background:#fff;text-decoration:none;width:36px;height:36px;font-size:21.6px;text-align:center;margin:-1px 0;font-weight:700;cursor:pointer;z-index:10;border:1px solid #977dc7;line-height:1.2em;padding-bottom:5px}
.ol-control.ol-attribution button{display:inline-block}
.ol-control,.ol-control:hover{background-color:transparent;border-radius:0;padding:0}
.ol-scale-line{background:0 0}
.ol-scale-line-inner{border:1px solid #fff;border-top:none;color:#fff}
.ol-popup{background-color:#fff;-webkit-filter:drop-shadow(0 1px 4px rgba(0,0,0,.2));filter:drop-shadow(0 1px 4px rgba(0, 0, 0, .2));padding:10px;border-radius:10px;border:1px solid #ccc;bottom:12px;left:-50px;font-size:11px;min-width:150px}
.ol-popup:after,.ol-popup:before{top:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.ol-popup:after{border-top-color:#fff;border-width:10px;left:48px;margin-left:-10px}
.ol-popup:before{border-top-color:#ccc;border-width:11px;left:48px;margin-left:-11px}
.inspect-layer{font-weight:700;line-height:2}
.inspect-layer:not(:first-child){border-top:1px solid #ccc}
.inspect-row{display:table-row;line-height:1.8}
.inspect-name,.inspect-value{display:table-cell}
.inspect-value{padding-left:10px}